* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
  .nombre {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    color: #FF87B7;
    background-color: #4f4f4f;
    border-radius: 1.5em;
    padding: 12.5px;
    margin: 12.5px 65px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .nombre {
    font-family: "Sacramento", cursive;
    font-size: 100px;
    color: #FF87B7;
    background-color: #4f4f4f;
    border-radius: 1.5em;
    padding: 12.5px;
    margin: 12.5px 225px;
  }
}
@media only screen and (min-width: 1601px) {
  .nombre {
    font-family: "Sacramento", cursive;
    font-size: 150px;
    color: #FF87B7;
    background-color: #4f4f4f;
    border-radius: 1.5em;
    padding: 12.5px;
    margin: 12.5px 500px;
  }
}

.menu {
  background-color: #4f4f4f;
  padding: 10px 0px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 850px) {
  .first-link {
    font-family: "Sacramento", cursive;
    font-size: 30px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .first-link:hover {
    transform: scale(1.5) translateY(2px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .first-link {
    font-family: "Sacramento", cursive;
    font-size: 40px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .first-link:hover {
    transform: scale(1.5) translateY(3.5px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 1601px) {
  .first-link {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .first-link:hover {
    transform: scale(1.5) translateY(5px);
    color: #FF87B7;
  }
}

@media only screen and (max-width: 850px) {
  .second-link {
    font-family: "Sacramento", cursive;
    font-size: 30px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .second-link:hover {
    transform: scale(1.5) translateY(2px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .second-link {
    font-family: "Sacramento", cursive;
    font-size: 40px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .second-link:hover {
    transform: scale(1.5) translateY(3.5px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 1601px) {
  .second-link {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .second-link:hover {
    transform: scale(1.5) translateY(5px);
    color: #FF87B7;
  }
}

@media only screen and (max-width: 850px) {
  .third-link {
    font-family: "Sacramento", cursive;
    font-size: 30px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .third-link:hover {
    transform: scale(1.5) translateY(2px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .third-link {
    font-family: "Sacramento", cursive;
    font-size: 40px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .third-link:hover {
    transform: scale(1.5) translateY(3.5px);
    color: #FF87B7;
  }
}
@media only screen and (min-width: 1601px) {
  .third-link {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    text-decoration: none;
    border-radius: 0.75em;
    color: #FF87B7;
    transition: all 0.75s linear;
  }
  .third-link:hover {
    transform: scale(1.5) translateY(5px);
    color: #FF87B7;
  }
}

@media only screen and (max-width: 850px) {
  .subTitleFinal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
    border-top: 1px solid black;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .subTitleFinal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
    border-top: 1px solid black;
  }
}
@media only screen and (min-width: 1601px) {
  .subTitleFinal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
    border-top: 1px solid black;
  }
}

@media only screen and (max-width: 850px) {
  .final {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .final {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
  }
}
@media only screen and (min-width: 1601px) {
  .final {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #FF87B7;
    padding: 25px 0px;
  }
}

.pie-pagina {
  background-color: #4f4f4f;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .subTitle-Contactos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    text-align: center;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 35px 40px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 850px) {
  .subTitle-Contactos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    text-align: center;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 35px 100px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .subTitle-Contactos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    text-align: center;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 35px 200px;
  }
}
@media only screen and (min-width: 1601px) {
  .subTitle-Contactos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    text-align: center;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 35px 300px;
  }
}

.section-1 {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor {
  width: 90%;
  margin: 1px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px #BDBDBD;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1.5px solid grey;
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

@media only screen and (max-width: 850px) {
  .boton {
    width: 100px;
    height: 6vh;
    border: 1.5px solid grey;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    color: #4f4f4f;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .boton {
    width: 150px;
    height: 6vh;
    border: 1.5px solid grey;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    color: #4f4f4f;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
}
@media only screen and (min-width: 1601px) {
  .boton {
    width: 200px;
    height: 6vh;
    border: 1.5px solid grey;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    color: #4f4f4f;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
}

.boton:hover {
  background-color: #FEC5E5;
}

@media only screen and (max-width: 850px) {
  .Articulo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 3px;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .Articulo {
    font-size: 25;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 4px;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 1601px) {
  .Articulo {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 0px 20px;
  }
}

.Descripcion {
  display: flex;
  border: 1px solid #6b6b6b;
  background-color: #f2f2f2;
  margin: 0px 20px;
}

.Imagen-Articulo {
  background-color: #f2f2f2;
  padding: 5px;
}

@media only screen and (max-width: 850px) {
  .Descripcion-Articulo {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 3px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .Descripcion-Articulo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 4px;
  }
}
@media only screen and (min-width: 1601px) {
  .Descripcion-Articulo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 5px;
  }
}

@media only screen and (max-width: 850px) {
  .Precio {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 3px;
    margin: 0px 20px 10px 20px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .Precio {
    font-size: 25;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 4px;
    margin: 0px 20px 10px 20px;
  }
}
@media only screen and (min-width: 1601px) {
  .Precio {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #6b6b6b;
    color: #faaac9;
    background-color: #f2f2f2;
    padding: 5px;
    margin: 0px 20px 10px 20px;
  }
}

@media only screen and (max-width: 850px) {
  .eslogan {
    font-family: fantasy;
    font-size: 25px;
    word-spacing: 2px;
    color: #ff4b93;
    width: 35%;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .eslogan {
    font-family: fantasy;
    font-size: 55px;
    word-spacing: 2px;
    color: #ff4b93;
    width: 35%;
  }
}
@media only screen and (min-width: 1601px) {
  .eslogan {
    font-family: fantasy;
    font-size: 75px;
    word-spacing: 2px;
    color: #ff4b93;
    width: 35%;
  }
}

@media only screen and (max-width: 850px) {
  .presentacion {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .presentacion {
    margin-top: 65px;
    margin-bottom: 65px;
  }
}
@media only screen and (min-width: 1601px) {
  .presentacion {
    margin-top: 75px;
    margin-bottom: 75px;
  }
}

.ImagenC {
  width: 35%;
}

@media only screen and (max-width: 550px) {
  .subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 10px 40px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 850px) {
  .subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 10px 100px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 10px 200px;
  }
}
@media only screen and (min-width: 1601px) {
  .subTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 45px;
    word-spacing: 4px;
    padding: 10px;
    color: #4f4f4f;
    background-color: #faaac9;
    border-radius: 1em;
    border: 2px solid black;
    margin: 10px 300px;
  }
}

@media only screen and (max-width: 850px) {
  .paragraph {
    font-family: "Indie Flower", cursive;
    font-size: 25px;
    line-height: 25px;
    color: #FF87B7;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin: 20px 10px;
    padding: 20px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .paragraph {
    font-family: "Indie Flower", cursive;
    font-size: 35px;
    line-height: 35px;
    color: #FF87B7;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin: 30px 20px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1601px) {
  .paragraph {
    font-family: "Indie Flower", cursive;
    font-size: 45px;
    line-height: 45px;
    color: #FF87B7;
    background-color: #f2f2f2;
    border-radius: 1.5em;
    margin: 40px 30px;
    padding: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .maps {
    display: block;
    margin: auto;
    border: 1.5px solid #6b6b6b;
    height: 214px;
    width: 225px;
    padding: 25px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 850px) {
  .maps {
    display: block;
    margin: auto;
    border: 1.5px solid #6b6b6b;
    height: 214px;
    width: 300px;
    padding: 25px;
  }
}
@media only screen and (min-width: 851px) and (max-width: 1600px) {
  .maps {
    display: block;
    margin: auto;
    border: 1.5px solid #6b6b6b;
    height: 357px;
    width: 500px;
    padding: 25px;
  }
}
@media only screen and (min-width: 1601px) {
  .maps {
    display: block;
    margin: auto;
    border: 1.5px solid #6b6b6b;
    height: 500px;
    width: 700px;
    padding: 25px;
  }
}

.accordion-margin {
  margin: 40px 30px;
}

.accordion-settings:hover {
  background-color: #faaac9;
}

.cuerpo {
  font-size: 25px;
  background-color: #f2f2f2;
  color: #FF87B7;
}

.hola {
  font-size: 24px;
}

/* Media queris */
/*
.nombre {
    @media only screen and (max-width: 850px) {
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
    }

    @media only screen and (min-width: 1601px){
    }
}
*/

/*# sourceMappingURL=style.css.map */
