@import 'variables/variables';
@import 'extend/mixin';
@import 'components/header';
@import 'components/footer';
@import 'components/main_contactos';
@import 'components/main_catalogo';
@import 'components/main_index';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.hola {
    font-size: 24px;
}

// .imagenArticulo{
//     padding: 30px;
//     height: 250px;
//     background-color: white;
//     float: left;
//     margin-left: 25px;
//     border: 1px solid black;
// }

// .redes {
//     display: flex;
//     justify-content: center;
//     width: 35%;
// }



/* Media queris */

/*
.nombre {
    @media only screen and (max-width: 850px) {
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
    }

    @media only screen and (min-width: 1601px){
    }
}
*/