$color-rosa: #FF87B7;
$color-rosa-pastel: #FEC5E5;
$color-rosa-claro: #faaac9;
// $color-rosa-claro: #ff9cc3;
$color-gris: #4f4f4f;
$color-gris-claro: #f2f2f2;
$color-gris-medio: #6b6b6b;
// 757575
// #6b6b6b;