.nombre {
    @media only screen and (max-width: 850px) {
        @include name(50px, 65px);
        
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include name(100px, 225px);
    }

    @media only screen and (min-width: 1601px){
        @include name(150px, 500px);
    }

}

.menu {
    background-color: $color-gris;
    padding: 10px 0px;
    margin-bottom: 30px;
}

.first-link {
    @media only screen and (max-width: 850px) {
        @include links-navbar(30px);
        
        &:hover {
            transform: scale(1.5) translateY(2px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px){
        @include links-navbar(40px);
        
        &:hover {
            transform: scale(1.5) translateY(3.5px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 1601px){
        @include links-navbar(50px);

        &:hover {
            transform: scale(1.5) translateY(5px);
            color: $color-rosa;
        }
    } 
}

.second-link {
    @media only screen and (max-width: 850px) {
        @include links-navbar(30px);
        
        &:hover {
            transform: scale(1.5) translateY(2px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px){
        @include links-navbar(40px);
        
        &:hover {
            transform: scale(1.5) translateY(3.5px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 1601px){
        @include links-navbar(50px);

        &:hover {
            transform: scale(1.5) translateY(5px);
            color: $color-rosa;
        }
    }
}

.third-link {
    @media only screen and (max-width: 850px) {
        @include links-navbar(30px);
        
        &:hover {
            transform: scale(1.5) translateY(2px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px){
        @include links-navbar(40px);
        
        &:hover {
            transform: scale(1.5) translateY(3.5px);
            color: $color-rosa;
        }
    }

    @media only screen and (min-width: 1601px){
        @include links-navbar(50px);

        &:hover {
            transform: scale(1.5) translateY(5px);
            color: $color-rosa;
        }
    }
}
