.Articulo {
    @media only screen and (max-width: 850px) {
        @include Articulo(20px, 3px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include Articulo(25, 4px);
    }

    @media only screen and (min-width: 1601px){
        @include Articulo(35px, 5px);
    }
}

.Descripcion {
    display: flex;
    border: 1px solid $color-gris-medio;
    background-color: $color-gris-claro;
    margin: 0px 20px;
}

.Imagen-Articulo {
    // border: 1px solid $color-gris-medio;
    background-color: $color-gris-claro;
    padding: 5px;
}

.Descripcion-Articulo {
    @media only screen and (max-width: 850px) {
        @include Descripcion-Articulo(15px, 3px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include Descripcion-Articulo(20px, 4px);
    }

    @media only screen and (min-width: 1601px){
        @include Descripcion-Articulo(30px, 5px);
    }
}

.Precio {
    @media only screen and (max-width: 850px) {
        @include Precio(20px, 3px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include Precio(25, 4px);
    }

    @media only screen and (min-width: 1601px){
        @include Precio(35px, 5px);
    }
}