.eslogan {
    @media only screen and (max-width: 850px) {
        @include eslogan(25px);
    }
    
    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include eslogan(55px);
    }
    
    @media only screen and (min-width: 1601px){
        @include eslogan(75px);
    }
}

.presentacion {
    @media only screen and (max-width: 850px) {
        @include presentation(55px, 55px);
    }
    
    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include presentation(65px, 65px);
    }
    
    @media only screen and (min-width: 1601px){
        @include presentation(75px, 75px);
    }
}

.ImagenC {
    width: 35%;
}

.subTitle {
    @media only screen and (max-width: 550px) {
        @include subtitle(40px, 28px);
    }

    @media only screen and (min-width: 551px) and (max-width: 850px) {
        @include subtitle(100px, 40px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include subtitle(200px, 50px);
    }

    @media only screen and (min-width: 1601px){
        @include subtitle(300px, 60px);
    }
}

.paragraph {
    @media only screen and (max-width: 850px) {
        @include paragraph(25px, 20px, 10px, 25px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include paragraph(35px, 30px, 20px, 35px);
    }

    @media only screen and (min-width: 1601px){
        @include paragraph(45px, 40px, 30px, 45px);
    }
}

.maps {
    @media only screen and (max-width: 850px) {
        @include mapa(225px, 214px);
    }

    @media only screen and (min-width: 551px) and (max-width: 850px) {
        @include mapa(300px, 214px);
    }

    @media only screen and (min-width: 851px) and (max-width: 1600px) {
        @include mapa(500px, 357px);
    }

    @media only screen and (min-width: 1601px){
        @include mapa(700px, 500px);
    }
}

.accordion-margin{
    margin: 40px 30px;
}

.accordion-settings {
    &:hover{
        background-color: $color-rosa-claro;  
    }
}

.cuerpo {
    font-size: 25px;
    background-color: $color-gris-claro;
    color: $color-rosa;
}
